/* pictures ing dir */
img
{
	border-radius: 15px;
	width: 350px;
	border:2px solid black;
	box-shadow: 15px 20px 10px #888888;
	background: #CCCCCC;
	transition: background-color 2s, transform 2s;
}

img:hover
{
	border-color: red;
	transform: rotate(5deg);
}


section
{
	/*border: 1px solid gray;*/
	padding: 5%;
}

.ing, .dir 
{
	float: left;
	width: 39%;
}

h1,h2,h3,h4,h5,h6 
{
	text-shadow: 1px 1px 5px #999999;
}

body {
	background: #ccc;
}

h1
{
	font-family : Garamond;
}

h1:first-letter
{
	font-size: 200%;
	color: #8A2BE2;
}

.strike   
{ 
	text-decoration: line-through;
}
    

#hide_photo
{
	border-top:		2px solid #a3ceda;
	border-left:		2px solid #a3ceda;
	border-right:		2px solid #4f6267;
	border-bottom:		2px solid #4f6267;
	padding:		10px 20px !important;
	font-size:		14px !important;
	background-color:	#7e7e7e;
	font-weight:		bold;
	color:			#2d525d;
}